"""Top-level package for {{ project_name }}."""

from {{ module_name }}.main import hello_world

__author__ = """{{ author_name }}"""
__email__ = """{{ author_email }}"""
__version__ = "0.1.0"


__all__ = ["hello_world"]
