{% from pathjoin("includes", "badges.jinja") import mit_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import python_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import ruff_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import black_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import isort_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import readthedocs_shield with context -%}

| |mit-shield| |python-shield| |ruff-shield|
| |black_shield| |isort_shield| {% if python_include_docs %}|readthedocs_shield|{% endif %}

{{ mit_shield() }}

{{ python_shield() }}

{{ ruff_shield() }}

{{ black_shield() }}

{{ isort_shield() }}

{% if python_include_docs %}{{ readthedocs_shield() }}{% endif %}


{{ project_name }}
======================================================================

{{ project_description }}

{% if python_include_docs %}Documentation: https://{{ project_name }}.readthedocs.io.{% endif %}

Installation
------------

.. readme-install-start

{{ project_name }} can be installed using ``pip`` as follows:

.. code-block:: console

   $ pip install {{ project_name }}

.. readme-install-end


Usage
-----


{% if python_include_docs %}
Refer to the `full documentation <https://{{ project_name }}.readthedocs.io>`_ for the in-depth usage.
{% endif %}


.. readme-usage-start

Prerequisite
************

* TODO

Basic Usage
***********

* TODO

.. readme-usage-end

Donate 
------

.. readme-donate-start

I made this has a fun side project and it's free for anyone to use.
If you like it and wish to donate here's a few of my crypto wallets. 

.. _tbl-grid:

+----------------------------------------+--------------------------------------+-----------------------------------------+
| Ethereum and L2s (0x29006...)          | Monero (85tBS7YSrM5...)              | Peercoin (PBzj1ZwMDW...)                |
|                                        |                                      |                                         |
+========================================+======================================+=========================================+
| |EthereumQR|                           | |MoneroQR|                           | |PeercoinQR|                            |
+----------------------------------------+--------------------------------------+-----------------------------------------+


.. |EthereumQR| image:: {{ repo_url }}/main/docs/_qrcodes/ethereum.png
  :width: 300
  :alt: EthereumQR

.. |MoneroQR| image:: {{ repo_url }}/main/docs/_qrcodes/monero.png
  :width: 300
  :alt: MoneroQR

.. |PeercoinQR| image:: {{ repo_url }}/main/docs/_qrcodes/peercoin.png
  :width: 300
  :alt: PeerCoinQR

.. readme-donate-end

* Free software: MIT
{% if python_include_docs %}* Documentation: https://{{ project_name }}.readthedocs.io.{% endif %}

Credits
-------

* TODO

⊂(▀¯▀⊂)
