{% from pathjoin("includes", "badges.jinja") import mit_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import python_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import ruff_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import black_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import isort_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import readthedocs_shield with context -%}

| |mit-shield| |python-shield| |ruff-shield|
| |black-shield| |isort-shield| {% if python_include_docs %}|readthedocs_shield|{% endif %}

{{ mit_shield() }}

{{ python_shield() }}

{{ ruff_shield() }}

{{ black_shield() }}

{{ isort_shield() }}

{% if python_include_docs %}{{ readthedocs_shield() }}{% endif %}


{{ project_name }}
======================================================================

{{ project_description }}

{% if python_include_docs %}Documentation: https://{{ project_name }}.readthedocs.io.{% endif %}

Installation
------------

.. readme-install-start

{{ project_name }} can be installed using ``pip`` as follows:

.. code-block:: console

   $ pip install {{ project_name }}

.. readme-install-end


Usage
-----


{% if python_include_docs %}
Refer to the `full documentation <https://{{ project_name }}.readthedocs.io>`_ for the in-depth usage.
{% endif %}


.. readme-usage-start

Prerequisite
************

* TODO

Basic Usage
***********

* TODO

.. readme-usage-end

License
-------

This project is licensed under the `MIT License <{{ repo_url }}/src/branch/main/LICENSE>`_


⊂(▀¯▀⊂)  `Donate <https://codeberg.org/SpeakinTelnet/.profile/src/branch/main/DONATE.rst>`_
