```@meta
CurrentModule = {{ julia_module_name }}
```

# {{ package_name }}

Documentation for [{{ package_name }}]({{ repo_url }}).

```@index
```

```@autodocs
Modules = [{{ julia_module_name }}]
```
