using Pkg
pkg"activate .."
push!(LOAD_PATH,"../src/")

using {{ julia_module_name }}
using Documenter

DocMeta.setdocmeta!({{ julia_module_name }}, :DocTestSetup, :(using {{ julia_module_name }}); recursive=true)

makedocs(;
    modules=[{{ julia_module_name }}],
    authors="{{ author_name }} <{{ author_email }}>",
    remotes = nothing,
#    repo="{{ repo_url }}/blob/\{commit\}\{path\}#\{line\}",
    sitename="{{ project_name }}",
    format=Documenter.HTML(;
        prettyurls=get(ENV, "CI", "false") == "true",
        canonical="{{ repo_url }}",
        edit_link="main",
        assets=String[],
    ),
    pages=["Home" => "index.md"],
)

# deploydocs(; repo="{{ repo_url }}", devbranch="main")
