{% from pathjoin("includes", "badges.jinja") import mit_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import julia_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import bluestyle_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import juliadoc_shield with context -%}

| |mit-shield| |julia-shield| |bluestyle-shield| {% if julia_include_docs %}|juliadoc-shield|{% endif %}

{{ mit_shield() }}

{{ julia_shield() }}

{{ bluestyle_shield() }}

{% if julia_include_docs %}{{ juliadoc_shield() }}{% endif %}

{{ project_name }}
======================================================================

{{ project_description }}

{% if julia_include_docs %}Documentation: https://{{ repository_namespace }}.codeberg.org/{{ project_name }}/stable/{% endif %}

Installation
------------

.. readme-install-start

Install with the Julia package manager `Pkg <https://pkgdocs.julialang.org/>`_, just like any other registered Julia package:


.. code-block:: julia-repl

   pkg> add {{ julia_module_name }}  # Press ']' to enter the Pkg REPL mode.

or

.. code-block:: julia-repl

   julia> using Pkg; Pkg.add("{{ julia_module_name }}")


.. readme-install-end


Usage
-----


{% if include_docs %}Refer to the `full documentation <hhttps://{{ repo_namespace }}.codeberg.org/{{ repo_name }}/stable/>`_ for the in-depth usage.{% endif %}


.. readme-usage-start

Prerequisite
************

* TODO

Basic Usage
***********

* TODO

.. readme-usage-end

Donate 
------

.. readme-donate-start

I made this has a fun side project and it's free for anyone to use.
If you like it and wish to donate here's a few of my crypto wallets. 

.. _tbl-grid:

+----------------------------------------+--------------------------------------+-----------------------------------------+
| Ethereum and L2s (0x29006...)          | Monero (85tBS7YSrM5...)              | Peercoin (PBzj1ZwMDW...)                |
|                                        |                                      |                                         |
+========================================+======================================+=========================================+
| |EthereumQR|                           | |MoneroQR|                           | |PeercoinQR|                            |
+----------------------------------------+--------------------------------------+-----------------------------------------+

.. |EthereumQR| image:: https://raw.githubusercontent.com/SpeakinTelnet/{{ project_name }}/master/docs/_qrcodes/ethereum.png
  :width: 300
  :alt: EthereumQR

.. |MoneroQR| image:: https://raw.githubusercontent.com/SpeakinTelnet/{{ project_name }}/master/docs/_qrcodes/monero.png
  :width: 300
  :alt: MoneroQR

.. |PeercoinQR| image:: https://raw.githubusercontent.com/SpeakinTelnet/{{ project_name }}/master/docs/_qrcodes/peercoin.png
  :width: 300
  :alt: PeerCoinQR

.. readme-donate-end

* Free software: MIT
* Documentation: https://{{ repository_namespace }}.codeberg.org/{{ project_name }}/stable/

Credits
-------

* TODO

⊂(▀¯▀⊂)
