{% from pathjoin("includes", "badges.jinja") import mit_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import julia_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import bluestyle_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import juliadoc_shield with context -%}

| |mit-shield| |julia-shield| |bluestyle-shield| {% if julia_include_docs %}|juliadoc-shield|{% endif %}

{{ mit_shield() }}

{{ julia_shield() }}

{{ bluestyle_shield() }}

{% if julia_include_docs %}{{ juliadoc_shield() }}{% endif %}

{{ project_name }}
======================================================================

{{ project_description }}

{% if julia_include_docs %}Documentation: https://{{ repository_namespace }}.codeberg.org/{{ project_name }}/stable/{% endif %}

Installation
------------

.. readme-install-start

Install with the Julia package manager `Pkg <https://pkgdocs.julialang.org/>`_, just like any other registered Julia package:


.. code-block:: julia-repl

   pkg> add {{ julia_module_name }}  # Press ']' to enter the Pkg REPL mode.

or

.. code-block:: julia-repl

   julia> using Pkg; Pkg.add("{{ julia_module_name }}")


.. readme-install-end


Usage
-----


{% if julia_include_docs %}Refer to the `full documentation <hhttps://{{ repo_namespace }}.codeberg.org/{{ repo_name }}/stable/>`_ for the in-depth usage.{% endif %}


.. readme-usage-start

Prerequisite
************

* TODO

Basic Usage
***********

* TODO

.. readme-usage-end

License
-------

This project is licensed under the `MIT License <{{ repo_url }}/src/branch/main/LICENSE>`_


⊂(▀¯▀⊂)  `Donate <https://codeberg.org/SpeakinTelnet/.profile/src/branch/main/DONATE.rst>`_
