
{% from pathjoin("includes", "badges.jinja") import md_mit_shield with context -%}
{% from pathjoin("includes", "badges.jinja") import md_rust_shield with context -%}

{{ md_mit_shield() }}
{{ md_rust_shield() }}

# {{ project_name }}

{{ project_description }}

## Installation

* TODO

## Usage

* TODO

### Prerequisite

* TODO

### Basic Usage

* TODO


## License

This project is licensed under the [MIT License](LICENSE)


⊂(▀¯▀⊂)  [Donate](https://codeberg.org/SpeakinTelnet/.profile/src/branch/main/DONATE.rst)